body{
    background-color: rgba(0, 0, 0, 0.438);
}
.t1{
    color: black;
    text-align: center;
      font-size: 40px;
}
.t2{
color: black;
text-align: center;
  font-size: 40px;
}
.pg1{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
.pg2{
    color: aliceblue;
    text-align: center;
      font-size: 30px;
}
.lin{
     
    font-size: 20px;
     color:aliceblue;
   text-decoration: none;
}
a{
  text-decoration: none;
}